# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
/.pnp
.pnp.js

# Production
/build

# Next.js
.next/
out/

# Test Coverage
coverage/

# Environment variables
.env.local
.env.*.local

# VS Code
.vscode/

# MacOS
.DS_Store
